/*
 * DIAGNÓSTICO v5b — 4 filas, BLE activo (sin bt_none)
 *
 * Filas: P1.11, P0.22, P0.24, P1.06
 * Col única: P0.29
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {

	chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <1>;
		rows    = <4>;
		map = <
			RC(0,0)
			RC(1,0)
			RC(2,0)
			RC(3,0)
		>;
	};

	kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_TEST5b";
        wakeup-source;
        diode-direction = "row2col";

        row-gpios
            = <&pro_micro 14 (GPIO_ACTIVE_HIGH)>
            , <&pro_micro  4 (GPIO_ACTIVE_HIGH)>
            , <&pro_micro  5 (GPIO_ACTIVE_HIGH)>
            , <&pro_micro  9 (GPIO_ACTIVE_HIGH)>
            ;
    };

};
