/*
 * DIAGNÓSTICO v4 — barrido completo de los 17 GPIOs del nice_nano v2
 *
 * 16 filas alternativas (cada una con una letra distinta), 1 sola col (P0.29).
 *
 * gpio-map oficial nice_nano v2:
 *   pro_micro  0 = P0.08 (RX)        → Q
 *   pro_micro  1 = P0.06 (TX)        → W
 *   pro_micro  2 = P0.17 (SCK)       → E
 *   pro_micro  3 = P0.20 (MISO)      → R
 *   pro_micro  4 = P0.22 (MOSI)      → T
 *   pro_micro  5 = P0.24 (CS)        → Y
 *   pro_micro  6 = P1.00 (SDA)       → U
 *   pro_micro  7 = P0.11 (SCL)       → I
 *   pro_micro  8 = P1.04             → O
 *   pro_micro  9 = P1.06             → P
 *   pro_micro 10 = P0.09 (NFC1)      → A
 *   pro_micro 14 = P1.11             → S
 *   pro_micro 15 = P1.13 (SDA1)      → D
 *   pro_micro 16 = P0.10 (NFC2)      → F
 *   pro_micro 18 = P1.15 (SCL1)      → G
 *   pro_micro 19 = P0.02 (A1)        → H
 *   pro_micro 21 = P0.31 (A3)        → J
 *
 * Col = P0.29 (pro_micro 20)
 *
 * Procedimiento: puentear P0.29 con cada uno de los pines listados
 * y ver qué letra sale.
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {

	chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <1>;
		rows    = <16>;
		map = <
			RC(0,0)
			RC(1,0)
			RC(2,0)
			RC(3,0)
			RC(4,0)
			RC(5,0)
			RC(6,0)
			RC(7,0)
			RC(8,0)
			RC(9,0)
			RC(10,0)
			RC(11,0)
			RC(12,0)
			RC(13,0)
			RC(14,0)
			RC(15,0)
		>;
	};

	kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_TEST4";
        wakeup-source;
        diode-direction = "row2col";

        row-gpios
            = <&pro_micro  0 (GPIO_ACTIVE_HIGH)>      // 0  P0.08 → Q
            , <&pro_micro  1 (GPIO_ACTIVE_HIGH)>      // 1  P0.06 → W
            , <&pro_micro  2 (GPIO_ACTIVE_HIGH)>      // 2  P0.17 → E
            , <&pro_micro  3 (GPIO_ACTIVE_HIGH)>      // 3  P0.20 → R
            , <&pro_micro  4 (GPIO_ACTIVE_HIGH)>      // 4  P0.22 → T
            , <&pro_micro  5 (GPIO_ACTIVE_HIGH)>      // 5  P0.24 → Y
            , <&pro_micro  6 (GPIO_ACTIVE_HIGH)>      // 6  P1.00 → U
            , <&pro_micro  7 (GPIO_ACTIVE_HIGH)>      // 7  P0.11 → I
            , <&pro_micro  8 (GPIO_ACTIVE_HIGH)>      // 8  P1.04 → O
            , <&pro_micro  9 (GPIO_ACTIVE_HIGH)>      // 9  P1.06 → P
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH)>      // 10 P0.09 → A
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH)>      // 11 P1.11 → S
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH)>      // 12 P1.13 → D
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH)>      // 13 P0.10 → F
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH)>      // 14 P1.15 → G
            , <&pro_micro 21 (GPIO_ACTIVE_HIGH)>      // 15 P0.31 → J
            ;
    };

};
